{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header_menu:   Headmenu
 * - page.logo:  Logo Position
 * - page.searchbar:   Search bar
 * - page.primary_menu:  Main Menu
 * - page.language_switcher: Language Switcher
 * - page.secondary_menu: Side Menu (currently not active)
 * - page.off_canvas:  Off Canvas (currently not active)
 * - page.highlighted:   Main Topic
 * - page.messages:  Messages
 * - page.content:   Content
 * - page.sidebar_first:   Left Sidebar
 * - page.sidebar_second:  Right Sidebar
 * - page.col_1:   First Column
 * - page.col_2:   Second Column
 * - page.col_3:   Third Column
 * - page.col_4:   Fourth Column
 * - page.col_5:   Fifth Column
 * - page.col_6:   Sixth Column
 * - page.breadcrumbs:   Breadcrumbs
 * - page.footer:  Footer
 * - page.footer_menu:   Footer Menu
 * - page.credits:   Credits
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">
  {% if page.header_menu or page.logo or page.searchbar %}
  <header role="banner">
    {{ page.header_menu }}
    {% if page.logo or page.searchbar %}
      <div class="logo-search">
        {{ page.logo }}
        {{ page.searchbar }}
      </div>
    {% endif %}
  </header>
  {% endif %}
{% if page.primary_menu or page.language_switcher %}
  <div id="main-navbar">
    <div class="container">
        {{ page.primary_menu }}
        {{ page.language_switcher }}
    </div>
  </div>
{% endif %}

  {{ page.highlighted }}

  {{ page.messages }}

  <main role="main">
    <div class="row">
      {% set cols = [page.col_1, page.col_2, page.col_3, page.col_4, page.col_5, page.col_6] %}
      {% set active = 0 %}
      {% for col in cols if col is not empty %}
        {% set active = active + 1 %}
      {% endfor %}

      {# Different layout according to number of columns #}
      {% if active == 0 %} {# no column #}
        {% set cont= page.content %}
      {% elseif active >= 1 and active <= 3 %} {# one row of columns (1-3) #}
        {% set cont %}
          {{ page.content }}
          <div class="main-cols">
            {% for col in cols if col is not empty %}
              <section class="col-sm">
                {{ col }}
              </section>
            {% endfor %}
          </div>
        {% endset %}
      {% elseif active >= 4 %} {# two rows of columns (4-6) #}
        {% set cont %}
          {{ page.content }}
          <div class="main-cols">
            {% for col in cols if col is not empty %}
              {% if loop.index > (active / 2) and loop.index <= ((active / 2) + 1) %} {# break the columns in two rows #}
                <div class="w-100 d-none d-lg-block"></div>
              {% endif %}
              <section class="col-sm">
                {{ col }}
              </section>
            {% endfor %}
          </div>
        {% endset %}
      {% endif %}

      {% if page.sidebar_first %}
        {% if page.sidebar_second %} {# both sidebars #}
          <div class="maincontent two-sidebars">
            {{ cont }}
          </div>
          <aside class="sidebar-left">
            {{ page.sidebar_first }}
          </aside>
          <aside class="sidebar-right">
            {{ page.sidebar_second }}
          </aside>
        {% else %} {# only first sidebar #}
          <div class="maincontent one-sidebar">
            {{ cont }}
          </div>
          <aside class="sidebar-left">
            {{ page.sidebar_first }}
          </aside>
        {% endif %}
      {% elseif page.sidebar_second %} {# only second sidebar #}
        <div class="maincontent one-sidebar">
          {{ cont }}
        </div>
        <aside class="sidebar-right">
          {{ page.sidebar_second }}
        </aside>
      {% else %} {# no sidebar #}
        <div class="maincontent">
          {{ cont }}
        </div>
      {% endif %}

    </div>
  </main>
  {{ page.breadcrumb }}
  {% if page.footer or page.footer_menu or page.credits %}
    <footer role="contentinfo" class="pagefooter">
      <div class="container">
        <div class="row">
          {% if page.footer %}
            <section class="footer"> {{ page.footer }} </section>
          {% endif %}
          {% if page.footer_menu %}
            <section class="footer-menu"> {{ page.footer_menu }} </section>
          {% endif %}
          {% if page.credits %}
            <section class="credits"> {{ page.credits }} </section>
          {% endif %}
        </div>
      </div>
    </footer>
  {% endif %}

</div>{# /.layout-container #}
